.socials {
  display: flex;
}

.socials__item {
  min-height: 56px;
}

.socials__link {
  display: inline-block;
}

.socials__icon {
  width: 40px;
  height: 40px;
}

.socials__item:not(:last-child) {
  margin-right: 16px;
}
